@media (max-width: 1000px){
	.fixed.main.menu {
	    display: none;
	}
}
@media (min-width: 1001px){
	.fixed.menu.hamburger {
	    display: none;
	}
}
.galeria img{
	max-width: 100%;
}
body{
	display: flex;
  min-height: 100vh;
  flex-direction: column;
}
#stopka {
    clear: both;
    position: relative;
    height: 40px;
    margin-top: -40px;
		z-index: 999;
}
